.BuildControl {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 5px;
}
  .BuildControl button {
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    width: 50px;
    cursor: pointer;
    border: 1px solid gray;
    background-color: rgb(228, 128, 46);
  }
button.Disabled {
  background-color: rgb(165, 97, 42);
}
  .Disabled:hover {
    cursor: default;
  }