.SideDrawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  max-width: 70%;
  height: 100%;
  z-index: 200;
  border-right: 5px solid rgba(112, 59, 9, 0.658);
  background-color: white;
  padding: 2em 1em;
  box-sizing: border-box;
  transition: transform 300ms ease-in;
}
.Open {
  transform: translateX(0);
}
.Closed {
  transform: translateX(-100%);
}
.Logo {
  height: 10%;
  margin-bottom: 2em;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}